@model IEnumerable<EP._6._2A_Assignment.Models.MenuItem>

@{
    ViewData["Title"] = "Menu Items";
}

<h2>Menu Items</h2>

<table class="table table-striped table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Status</th>
        </tr>
    </thead>

</table>
