@model IEnumerable<EP._6._2A_Assignment.Models.Restaurant>

<h2 class="mb-4">Restaurants</h2>

<div class="row">
    @foreach (var restaurant in Model)
    {
        @await Html.PartialAsync("_RestaurantCard", restaurant)
    }
</div>
